<mat-card>
    <mat-card-header>
        <mat-card-title>Move Cars</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button (click)="startCarSearch()" *ngIf="componentState=='awaitingStart'" (click)="startCarSearch()" mat-flat-button color="accent">Search for Cars</button>
        <div *ngIf="componentState=='searchingForCars'">
            Searching...
        </div>
        <div *ngIf="componentState=='driving'">
            <p>CarFound:</p>
            <p>CLI: {{clientReady}}</p>
            <p>Location: Lat:{{location.lat}} Long:{{location.long}}</p>
            <button (click)="unlock()" mat-flat-button color="warn">UNLOCK CAR</button>
        </div>
    </mat-card-content>
</mat-card>