<mat-card *ngIf="!clientid">
    <mat-card-header>
      <mat-card-title>Owner Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--{{loginUrl}}-->
      <a href={{loginUrl}}><button mat-flat-button color="primary">Sign Up</button></a>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="clientid">
  <mat-card-header>
    <mat-card-title>Owner Logged In</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button *ngIf="componentState=='awaitingConfirm'" (click)="parkMe()" mat-flat-button color="accent">Confirm</button>
    <div *ngIf="componentState=='awaitingDriver'">
      <p>Waiting for Driver to Move Car at:<p>
      <p>Lat: {{location.latitude}}</p>
      <p>Lon: {{location.longitude}}</p>
    </div>
  </mat-card-content>
</mat-card>